@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Bodoni Moda", serif;
    font-size: 1.2rem;
}

.container{
    display: flex;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #041308 , #0b3317);
}


.left-text{
    flex-basis: 30%;
    text-align: center;
    color: white;
}
.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}

.sub-heading{
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}

.gallery{
    flex-basis: 50%;
    display: grid;
    gap:8px ;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;

}

.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: 1s all ease-in-out;
}

.box:hover{
    background-position: center;
    background-color: #999;
}

.row-2{
    grid-row: span 2;
}

.col-2{
    grid-column: span 2;
}


/* media quary for 1024 */

@media screen and (max-width:768px){
    .container{
        flex-direction: column;
        padding: 10px;
    }

    nav{
        position: sticky;
        top: 0px;
        border-radius: 0px;
        text-align: center;

    }

    .gallery{
        width: 100%;
        grid-auto-rows: 200px;
    }

    .box{
        grid-row: span 1;
        grid-column: span 3;
    }
}



/* card container */

nav a{
    text-align: center;
    color: white;
    padding: 20px;
    text-decoration:none ;
}
nav{
    background-color: rgb(36, 146, 144);
    border-radius: 5px;
    position: absolute;
    top:50px;
    left: 300px;
    

}

:root{
    --primary-text-color:#222;
    --seconday-text-color:#444;
    --card-background-color:#fff;
    --background-color:#eee;
    --margin:40px;
    --card-bg-hover-color:#ddd;
    --card-hover-text-color:#333;
}

.dark{
    --primary-text-color:#fff;
    --seconday-text-color:#ddd;
    --card-background-color:#333;
    --background-color:#111;
    --card-bg-hover-color:#ddd;
    --card-hover-text-color:#333;
}

.card-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
justify-content: space-evenly;
align-items: center;
/* min-height: 100vh; */
padding: 40px;
background-color: var(--background-color);
font-family:sans-serif;
}

.card-box {

    width: 40%;
    background-color: var(--card-background-color);
    margin: 10px;
    padding: var(--margin);
    border-radius: 10px;
    color: var(--primary-text-color);
}

.card-box:hover{
    background-color: var(--card-bg-hover-color);
    color: var(--card-hover-text-color);
    
}

.card-container h1{
    text-align: center;
    color: var(--primary-text-color);
}

h2{
    /* color: var(--primary-text-color); */
    margin-bottom: 20px;
}

@media screen and (max-width:768px){

    .card-container{
        height: 200vh;
    }
    nav{
        position: sticky;
        top: 0px;
        border-radius: 0px;
        text-align: center;

    }

    .card-box{
        width: 100%;
    }

}